<a href="https://colab.research.google.com/github/niks3992/python/blob/main/NikitaArora_pythonlab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Assignment 3**

Given a dictionary of students and their favourite colours:
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purpl e','Jenny':'Pink'}
1. Find out how many students are in the list
2. Change Lisaâ€™s favourite colour
3. Remove 'Jenny' and her favourite colour
4. Sort and print students and their favourite colours alphabetically
by name

In [ ]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
ct=len(people)
print("Number of student are",ct)
people['Lisa']='red'
print(people)
del people['Jenny']
print(people)
people1 =sorted(people.keys())
for i in people1:
  print(i,":",people[i])

Number of student are 4
{'Arham': 'Blue', 'Lisa': 'red', 'Vinod': 'Purple', 'Jenny': 'Pink'}
{'Arham': 'Blue', 'Lisa': 'red', 'Vinod': 'Purple'}
Arham : Blue
Lisa : red
Vinod : Purple

**2. Write a python program Convert two lists into a dictionary**

In [ ]:
test_keys = eval(input("enter list of keys")) #["Rash", "Kil", "Varsha"]
test_values =eval(input("enter list of Values")) #[1, 4, 5]

# Printing original keys-value lists
print("Original key list is : ",test_keys)
print("Original value list is : ",test_values)

# using naive method
# to convert lists to dictionary
res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break

# Printing resultant dictionary
print("Resultant dictionary is : " + str(res))

enter list of keys["Rash", "Kil", "Varsha"]
enter list of Values[1, 4, 5]
Original key list is :  ['Rash', 'Kil', 'Varsha']
Original value list is :  [1, 4, 5]
Resultant dictionary is : {'Rash': 1, 'Kil': 4, 'Varsha': 5}

**3. Write a python program to check if a value exists in a dictionary.**

In [ ]:
d={'Arham': 'Blue', 'Lisa': 'red', 'Vinod': 'Purple'}
value=input("enter value ")
if value in d.values():
  print("True")
else:
  print("False")

enter value red
True

**4. Write a python program to reverse a tuple.**

In [ ]:
t=eval(input("enter a tuple"))#('a','b','c','d','e')
new_tup = t[::-1]
new_tup

enter a tuple('a','b','c','d','e')

('e', 'd', 'c', 'b', 'a')

**5. Write a python program to unpack the tuple to desired values.**

In [ ]:
tuple = (1, 2, 3, 4)
a,b,c,d = tuple
print(a)
print(b)
print(c)
print(d)

1
2
3
4

**6. Write a python program to count the number of occurrences of a specific element in tuple.**

In [ ]:
t1=eval(input("enter a tuple:"))
ch= int(input("enter the element to be counted :"))
c=0
c= t1.count(ch)
print(ch," has", c ,"occurences")

enter a tuple:(1,2,3,4,1,3,2,1,2,1,1,15)
enter the element to be counted :1
1  has 5 occurences

**8. Write a python program to demonstrate the different string formatting methods available in python.**

In [ ]:
# Using % operator
name = "Nikita"
marks = 90
print("My name is %s and I got %d marks." % (name, marks))

# Using format() method
name = "Nikita"
marks = 90
print("My name is {} and I got {} marks.".format(name, marks))

# Using f-strings
name = "Nikita"
marks = 90
print(f"My name is {name} and I got {marks} marks.")

# Using String Template Class
from string import Template
name = "Nikita"
marks = 90
t = Template("My name is $n and I got $m marks .")
print(t.substitute(n=name, m=marks))

My name is Nikita and I got 90 marks.
My name is Nikita and I got 90 marks.
My name is Nikita and I got 90 marks.
My name is Nikita and I got 90 marks .

**9. Write a python program to add a new list inside an existing list. (Use nested list)**

In [ ]:
my_list = [1, 2, 3, 4]

# New list to be added
new_list = [5, 6, 7]

# Adding nested list to the existing list by append function
print("Modified List")
my_list.append(new_list)
print(my_list)
# Adding list element to the new list by extend function
print("Modified List after extending")
my_list.extend(new_list)
print(my_list)

Modified List
[1, 2, 3, 4, [5, 6, 7]]
Modified List after extending
[1, 2, 3, 4, [5, 6, 7], 5, 6, 7]