<a href="https://colab.research.google.com/github/niks3992/python/blob/main/NikitaArora_Pythonlab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a program that asks a user for a username and
password. If password is “cdac” and does not contain username
print “login successful” otherwise “login failure”**

In [ ]:
s1= input("Enter username :")
s2= input("Enter password : ")
if (s2=="cdac" and s1 not in s2):
    print("login successful")
else:
    print("login failure")

Enter username :nikita
Enter password : cdacnikita
login failure

**2. Write a program to input 2 strings. If string1 is contained in
string2 ,create a third string with the first four characters of
string2 added with word “cdac”**

In [ ]:
s1= input("Enter string 1 : ")
s2= input("Enter string 2 : ")
s3="cdac"
if s1 in s2:
  s4=s1+s2[0:4]+s3
  print(s4)

Enter string 1 : hello
Enter string 2 : everyonehello
helloevercdac

**3. Write a program that inputs a string that contains a decimal
number and prints out the decimal part of the number(Do not
convert the string to number)**

In [ ]:
s1= input("Enter a decimal number : ")
output=list(s1.partition("."))
print("The decimal part of number",s1," is ",output[2])

Enter a decimal number : 11.25
The decimal part of number 11.25  is  25

**4. Write a program that takes a string with multiple words and
then capitalizes the first letter of each word and forms a new
string out of it**

In [ ]:
s1= input("Enter a sentence: ")
output=s1.title()
output

Enter a sentence: hello everyone welcome to the world of python

'Hello Everyone Welcome To The World Of Python'

**5. Write a program that reads a string and prints a string that
capitalizes every other letter in the string (eg: python becomes
pYtHoN)**

In [ ]:
s1= input("Enter a sentence: ")
result=""
for i in range(0,len(s1)):
  if i % 2 == 0:
        result += s1[i].lower()
  else:
        result += s1[i].upper()
print(result)

Enter a sentence: hello everyone
hElLo eVeRyOnE

**6. Write a program that asks the user for a string and creates a new string that doubles each character of the original string(eg:
cdac becomes ccddaacc)**

In [ ]:
s1= input("Enter a string: ")
s2=""
for char in s1:
  s2=s2+(char * 2)
print(s2)

Enter a string: cdac
ccddaacc

**7. Write a program that inputs a line of text and prints its each
word in a separate line along with its length**

In [ ]:
s1= input("Enter a sentence: ")
s2=s1.split()
for i in range(0,len(s2)):
  print("Word ",(i+1)," ",s2[i],"\t length is",len(s2[i]))

Enter a sentence: hello everyone welcome
Word  1   hello 	 length is 5
Word  2   everyone 	 length is 8
Word  3   welcome 	 length is 7

**8. Write a program which takes one string and a character. The
function should create a new string after deleting all the
occurrences of the character from the string**

In [ ]:
s1= input("Enter a string: ")
c= input("Enter a char: ")
s2=""
for char in s1:
  if char==c:
    continue
  s2=s2+char
print(s2)

Enter a string: hello
Enter a char: l
heo

**9. Write a program that reads a sentence and print the string
with lowercase characters converted to uppercase and
viceversa**

In [ ]:
s1= input("Enter a sentence: ")
print(s1.swapcase())

Enter a sentence: HELLO EVERYONE, WELCOME TO CDAC
hello everyone, welcome to cdac

**10. Write a program that does the following:
a. Prompt the user for a string
b. Extract all the digits from the string
c. If there are digits
a. sum the collected digits together
b. print out: the original string , the digits, the sum of the
digits
d. If there are no digits
a. print the original string and a message “has no digits”**

In [ ]:
s1= input("Enter a string: ")
l1=[]
if s1.isalnum:
  for i in range(0,len(s1)):
    if s1[i].isdigit():
      l1.append(int(s1[i]))
  s=0
  s=sum(l1)
  print("Original String ",s1)
  print("Digits in string",l1)
  print("Sum of digits is ",s)
else:
  print(s1,"has no digits")

Enter a string: atul12arora34
Original String  atul12arora34
Digits in string [1, 2, 3, 4]
Sum of digits is  10

**11. Extract two list slices out of a given list of numbers. Display and
print the sum of elements of the first slice which contains every
other element of the list between indexes 5 to 15. Program should
also display the average of elements in the second list slice that
contains every fourth element of the list.**

In [ ]:
l1=[1,2,3,4,5,10,11,12,13,14,15,20,21,22,15,17,15,22,19,20]
l2=l1[5:16:2]
print("slice 1:",l2)
sum1=0
sum1=sum(l2)
print("sum of element",sum1)
l3=l1[0::3]
print("slice 2:",l3)
sum2=0
sum2=sum(l3)
avg=0
avg=sum2/len(l3)
print(f"average of element",'%.2f' % avg)

slice 1: [10, 12, 14, 20, 22, 17]
sum of element 95
slice 2: [1, 4, 11, 14, 21, 17, 19]
average of element 12.43

**12. Write a program that inputs a list, replicates it twice and then
prints the sorted list both in ascending and descending order**

In [ ]:
l1=eval(input("Enter a list"))
print("Replication of list twice")
l2=l1 * 2
print(l2)
l3=sorted(l2)
print("Sorted Replicated list in ascending order")
print(l3)
l4=sorted(l2,reverse=True)
print("Sorted Replicated list in descending order")
print(l4)

Enter a list[10, 12, 14, 20, 22, 17]
Replication of list twice
[10, 12, 14, 20, 22, 17, 10, 12, 14, 20, 22, 17]
Sorted Replicated list in ascending order
[10, 10, 12, 12, 14, 14, 17, 17, 20, 20, 22, 22]
Sorted Replicated list in descending order
[22, 22, 20, 20, 17, 17, 14, 14, 12, 12, 10, 10]

**13. Write a program to calculate the mean of a list of numbers**

In [ ]:
l1=eval(input("Enter a list"))
sum3=0
sum3=sum(l1)
avg2=0
avg2=sum3/len(l1)
print(f"Mean of element",'%.2f' % avg2)

Enter a list[10, 12, 14, 20, 22, 17]
Mean of element 15.83

**14. Write a program to check if the max element of the list lies
in the first half or the second half**

In [ ]:
l1=eval(input("Enter a list"))
max1=0
max1=max(l1)
for i in range(0,(len(l1)//2)):
  if max1 == l1[i]:
      print("max element ",max1," in first half of list")
else:
  print("max element ",max1," in second half of list")

Enter a list[11,22,33,55,44,9]
max element  55  in second half of list

**15. Write a program to input 2 lists and display the maximum
element from the elements of both the list, along with its index
in the list**

In [ ]:
l1=eval(input("Enter a list1 "))
l2=eval(input("Enter a list2 "))
max1=max(l1)
max2=max(l2)
print("Maximum value of list1 is",max1," at index ",l1.index(max1))
print("Maximum value of list2 is",max2," at index ",l2.index(max2))

Enter a list1 [11,22,33,55,44,9]
Enter a list2 [11,22,33,55,44,9,99]
Maximum value of list1 is 55  at index  3
Maximum value of list2 is 99  at index  6

**16. Given 2 lists, write a program that prints “overlapped” if they
have at least one member in common otherwise “not overlapped”**

In [ ]:
l1=eval(input("Enter a list1 "))
l2=eval(input("Enter a list2 "))
flag=0
for x in l1:
  for y in l2:
    if x == y:
        flag=1
if flag==1:
  print("Overlapped")
else:
  print("Not Overlapped")

Enter a list1 [5,6,7,8]
Enter a list2 [1,2,3,4]
Not Overlapped

**17. Write a program to input a list and 2 numbers m and n. Then
create a list from those elements which are divisible by both m and
n**

In [ ]:
l1=eval(input("Enter a list1 "))
m=int(input("Enter a number 1 "))
n=int(input("Enter a number 2 "))
l2=[]
for i in l1:
  if i%m==0 and i%n==0:
    l2.append(i)
print(l2)

Enter a list1 [10,20,3,5,30]
Enter a number 1 2
Enter a number 2 5
[10, 20, 30]

**18.Write a python Program to demonstrate guess game**

In [ ]:
import random
while True :
  a=int(input("Enter a number between 1 to 10 "))
  r=random.randint(1,10)
  print("Random number between 1 to 10",r)
  if a==r:
    print("Game is over")
    break

Enter a number between 1 to 10 5
Random number between 1 to 10 4
Enter a number between 1 to 10 3
Random number between 1 to 10 2
Enter a number between 1 to 10 4
Random number between 1 to 10 1
Enter a number between 1 to 10 7
Random number between 1 to 10 10
Enter a number between 1 to 10 1
Random number between 1 to 10 7
Enter a number between 1 to 10 2
Random number between 1 to 10 8
Enter a number between 1 to 10 8
Random number between 1 to 10 2
Enter a number between 1 to 10 5
Random number between 1 to 10 10
Enter a number between 1 to 10 10
Random number between 1 to 10 9
Enter a number between 1 to 10 9
Random number between 1 to 10 10
Enter a number between 1 to 10 2
Random number between 1 to 10 9
Enter a number between 1 to 10 6
Random number between 1 to 10 10
Enter a number between 1 to 10 4
Random number between 1 to 10 7
Enter a number between 1 to 10 4
Random number between 1 to 10 1
Enter a number between 1 to 10 5
Random number between 1 to 10 5
Game is over

**19. Write a program to print the multiplication table of a number
read**

In [ ]:
a=int(input("Enter a number "))
for i in range(1,13):
  print(a," * ",i,"=",a*i)

Enter a number 6
6  *  1 = 6
6  *  2 = 12
6  *  3 = 18
6  *  4 = 24
6  *  5 = 30
6  *  6 = 36
6  *  7 = 42
6  *  8 = 48
6  *  9 = 54
6  *  10 = 60
6  *  11 = 66
6  *  12 = 72

**20. Write a program to calculate and print the sums of even and
odd integers of the first n natural numbers**

In [ ]:
n=int(input("Enter higher limit "))
sum_even=0
sum_odd=0
for i in range(1,n):
  if(i%2==0):
      sum_even = sum_even + i
  else:
      sum_odd = sum_odd + i
print("Sum of even natural number ",sum_even)
print("Sum of odd natural number ",sum_odd)

Enter higher limit 20
Sum of even natural number  90
Sum of odd natural number  100

**21. Write a program to input a number and test whether it is
prime or not**

In [ ]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num//2):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 7
7 is a prime number

**22. Write a program that prints the prime numbers from 15 through
25**

In [ ]:
for num in range(15,26):
  if num > 14:
      for i in range(2, num):
              if (num % i) == 0:
                  break
      else:
              print(num)

17
19
23

**23. Write a program to print the first 20 elements of the
Fibonacci series**

In [ ]:
n1, n2 = 0, 1
count = 0
print("Fibonacci sequence:")
while count < 20:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

**24. Write a program to reverse a number**

In [ ]:
n2 = int(input("Enter a number: "))
rnum = 0

while n2 != 0:
    digit = n2 % 10
    rnum = rnum * 10 + digit
    n2 //= 10
print("Reversed Number: ",rnum)

Enter a number: 4321
Reversed Number:  1234

**25. Write a program to generate divisors of a number**

In [ ]:
n3 = int(input("Enter a number: "))
divisors = []
for i in range(1, (n3+1)):
        if n3 % i == 0:
            divisors.append(i)
print(divisors)

Enter a number: 6
[1, 2, 3, 6]

**26. Write a program to calculate the BMI of a person after
inputting the weight in kgs and height in meters and then print the
Nutritional Status as per the following table
Nutritional Status BMI
Underweight <18.5
Normal 18.5-24.9
Overweight 25-29.9
Obese >=30
BMI =weight / (height *height )**

In [ ]:
w = float(input("Enter weight in kgs: "))
h = float(input("Enter height in meters: "))
bmi= w/(h*h)
if (bmi < 18.5):
  print("Nutritional Status Underweight ")
elif(bmi >= 18.5 and bmi < 24.9):
  print("Nutritional Status Normal ")
elif(bmi >= 25 and bmi < 29.9):
  print("Nutritional Status Overweight ")
elif(bmi>=30):
  print("Nutritional Status Obese")

Enter weight in kgs: 55
Enter height in meters: 1.56
Nutritional Status Normal

**28. Write a program to check whether a number is an
Armstrong number or not.**

In [ ]:
n = int(input("Enter a number: "))
sum = 0
temp = n
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if n == sum:
    print(n, "is an Armstrong number")
else:
    print(n, "is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

**29. Write a python program to demonstrate the common network connection errors and display its reasons, get the error code from the user.**

In [ ]:
n = int(input("Enter a error number: "))
if(n==10013):
           print("Permission denied. The socket is not allowed to access the network.")
elif(n==10048):
          print("Address already in use. Another socket is already using the same port.")
elif(n==10051):
           print("Network is unreachable. The remote host is not reachable from the local network.")
elif(n==10060):
          print( "Connection timed out. The connection attempt took too long or failed to establish a connection.")

Enter a error number: 10048
Address already in use. Another socket is already using the same port.

**30. Write a program to take n (n > 20) as an input from the user.
Print numbers from 11 to n. If the number is a multiple of 3 print
“Multiple of 3”,if it is a multiple of 7 print “Multiple of 7”, if it is a
multiple of both, print multiple of both 3 and 7**

In [ ]:
n = int(input("Enter a number greater than 20: "))
for c in range(11, n+1):
  if(c%7==0 and c%3==0) :
    print(c," is a multiple of 7 and 3")
  elif(c%7==0) :
    print(c," is a multiple of 7")
  elif(c%3==0):
    print(c," is a multiple of 3")

Enter a number greater than 20: 25
12  is a multiple of 3
14  is a multiple of 7
15  is a multiple of 3
18  is a multiple of 3
21  is a multiple of 7 and 3
24  is a multiple of 3